@font-face {
  font-family: "CreepyFont";
  src: url("https://fonts.googleapis.com/css2?family=Creepster&display=swap");
}

@font-face {
  font-family: "HorrorFont";
  src: url("https://fonts.googleapis.com/css2?family=Nosifer&display=swap");
}

